/* works

/* by element type 
li { 
    color: yellow; /* all <li> elements are yellow */
/*}
*/

/* by ID with the # symbol */
#my-id { 
    color: yellow; /* elements with id = "my-id" are yellow */
}

/* by class with the . symbol */
.my-class { 
    color: blue; /* elements with class = "my-class" are blue  */
}

/* worked with color now not with size but that may be down to an error in one of rmds?*/
p {
  font-size: 18px;
}


/* works*/
.factoid {
  
  font-size: 15px;
  background-color: #F9FF9A; /*#e3f7f6;*/
  border-style: solid;
  border-width: 1px;
  padding: 15px;
  text-align: center;
}

/* works */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.frame{
      float:left;
      margin:20px;
      }
      
      
.article-more-link a {
  color: #cc0000;
}      

/* relates to any section named update the id is automatically conferred 
but doesnt look very good*/
#end-of-season-update {
  background-color: #efeded;
  
 
}

#end-of-season-update h2{
  text-align: center;
vertical-align: middle;
}

/* from http://socviz.co/index.html who mas interesting css work 

body {
font-family: "source-sans-pro", Arial, Helvetica, sans-serif;
}
*/

/* if adjusted in chrome works. Not sure best though din-2014 on plotico
looks like adobe typekit which have to pay for*/
body {
font-family: 'Baskerville Old Face', Arial, Helvetica, sans-serif;
font-size: 24;
}

/* from hadley r4ds */
.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  padding: 2px 15px;
}

.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}
/* experiments */
.sourcecode {
  background-color: #666;
}

.body {
  background-color: #ccbd9d;
}

/* end experiments */
/* blogdown is diff */
/* no impact on p */
body {
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
p {
    font-size: 22px;
}


.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
 
    color: #dc1b61;
}